.cadastro{
    padding-bottom: 50px;
}
.cadastro h2{
    margin-left: 40px;
    text-shadow: 1px 1px 1px gray;
    color: darkblue;
}
.cadastro form{
    width: 90%;
    margin: auto;
    border: 1px solid gray;
    background: rgba(0, 200, 0, 0.1);
}
.cadastro .botao{
    float: right;
}
.form-horizontal{
    padding: 0 20px;
}
.msg h3{
    text-shadow: 1px 1px 1px gray;
}
.msg img{
    position: relative;
    float: right;
    top: 10px;
    right: 70px;
    bottom: 2px;
}
@media (max-width: 768px){
    .msg img{
        top: 0;
        padding-bottom: 30px;
    }
}